<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">회원 정보 수정 (Modify)</div>
                <div class="card-body">
                    <form th:action="@{/member/modify}" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">아이디</span>
                            <input type="text" name="mid" class="form-control" th:value="${dto.mid}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">비밀번호</span>
                            <input type="password" name="mpw" class="form-control" th:value="${dto.mpw}" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">이름</span>
                            <input type="text" name="mname" class="form-control" th:value="${dto.mname}" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">이메일</span>
                            <input type="email" name="email" class="form-control" th:value="${dto.email}" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">지역</span>
                            <select name="region" class="form-select">
                                <option value="BUSAN" th:selected="${dto.region == 'BUSAN'}">부산</option>
                                <option value="SEOUL" th:selected="${dto.region == 'SEOUL'}">서울</option>
                                <option value="GYEONGGI" th:selected="${dto.region == 'GYEONGGI'}">경기</option>
                            </select>
                        </div>

                        <div class="my-4 text-center">
                            <button type="submit" class="btn btn-warning">수정 완료</button>
                            <button type="button" class="btn btn-secondary"
                                    th:onclick="|location.href='@{/member/mypage(mid=${dto.mid})}'|">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    if(errors) {
        alert("입력값이 올바르지 않습니다. 다시 확인해주세요.");
    }
</script>

</body>
</html>
