<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<body>
<div layout:fragment="content">
    <h2 class="mb-4 fw-bold">시설 현황</h2>
    <hr>
    <div class="mb-5">
        <h4 class="border-start border-primary border-4 ps-2 mb-4 fw-bold">■ 대관 시설 현황</h4>
        <div class="table-responsive shadow-sm">
            <table class="table table-bordered text-center align-middle mb-0">
                <thead class="table-light">
                <tr>
                    <th>구분</th>
                    <th>위치</th>
                    <th>좌석수</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="fw-bold">회의실</td>
                    <td>1층</td>
                    <td>80석</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="fw-bold">전시실</td>
                    <td>1층</td>
                    <td>-</td>
                    <td>작품 전시 전용</td>
                </tr>
                <tr>
                    <td class="fw-bold">극장</td>
                    <td>지하 1층</td>
                    <td>150석</td>
                    <td>그랜드 피아노 구비</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center mt-5">
        <a th:href="@{/info}" class="btn btn-dark px-5">메인으로 돌아가기</a>
    </div>
</div>
</body>
</html>